/* General Styles */
body {
  font-family: 'Istok Web', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-size: 36px;
}
p {
  font-size: 18px;
  margin: 24px 0px 24px 0;
}

/* Details Page Styles */
li {
  display: inline-block;
  margin-right: 14px;
  font-size: 18px;
}
img {
  max-height: 400px;
}
.flag {
  width: 100%;
}
.details-buttons {
  margin: 50px 0px 50px 0px;
}
