<div class="col-md-10 col-md-offset-1">
    <h4>Click on any country to see its map, flag, and other details.</h4><br>
    <table class="table table-responsive table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Capital</th>
            <th>Area in km.</th>
            <th>Population</th>
            <th>Continent</th>
        </tr>
        <tr ng-repeat="country in countries" ng-click="showDetail(country)">
            <td>{{country.countryName}}</td>
            <td>{{country.countryCode}}</td>
            <td>{{country.capital}}</td>
            <td>{{(country.areaInSqKm) | number}}</td>
            <td>{{(country.population) | number}}</td>
            <td>{{country.continentName}}</td>
        </tr>
    </table>
    <a href="#/home" class="btn btn-lg btn-default">Return Home</a>
</div>
