<div class="col-md-8 col-md-offset-2">
    <label>Search by Country Name:
        <input type="text">
    </label>

    <table class="table table-striped table-hover">
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Capital</th>
            <th>Area in km.</th>
            <th>Population</th>
            <th>Continent</th>
        </tr>
        <tr>
            <td>Afghanistan</td>
            <td>AF</td>
            <td>Kabul</td>
            <td>647,500</td>
            <td>29,122,123</td>
            <td>Asia</td>
        </tr>
    </table>
    <button type="button" class="btn">Home</button>
</div>
