<div class="col-md-8 col-md-offset-2">
    <h2>United States of America</h2>
    <div class="col-xs-6 text-right">
        <p>Population of Country :</p>
        <p>Area :</p>
        <p>Population of Capital :
        </p>
        <p>Continent :</p>
    </div>
    <div class="col-xs-6 text-left">
        <p>300,000,000</p>
        <p>2342343 square km</p>
        <p>2342342342</p>
        <p>North America</p>
    </div>
    <div class="col-md-12"></div>
    <h3>Neighbors</h3>
    <ul class="list-inline">
        <li><a>Mexico</a></li>
        <li><a>Canada</a></li>
    </ul>
    <div class="col-md-6">
        <img src="http://www.geonames.org/img/country/250/AF.png" alt="">
    </div>
    <div class="col-md-6">
        <img src="http://www.geonames.org/flags/x/af.gif" alt="">
    </div>
    <div class="btn-group">
      <a href="#/home" class="btn btn-lg btn-default">Return Home</a>
      <a href="#/countries" class="btn btn-lg btn-default">Browse Countries</a>
    </div>
</div>
