<div class="col-md-8 col-md-offset-2">
    <h2>{{country.countryName}}</h2>
    <table class="country-details-table table" style="width:100%">
        <tr>
          <td style="text-align:right">Population of Country</td>
          <td style="text-align:center">&#58;</td>
          <td style="text-align:left">{{country.population | number}}</td>
        </tr>
        <tr>
          <td style="text-align:right">Area</td>
          <td style="text-align:center">&#58;</td>
          <td style="text-align:left">{{country.areaInSqKm | number}} sq. km</td>
        </tr>
        <tr>
          <td style="text-align:right">Capital</td>
          <td style="text-align:center">&#58;</td>
          <td style="text-align:left">{{country.capital}}</td>
        </tr>
        <tr>
          <td style="text-align:right">Population of Capital</td>
          <td style="text-align:center">&#58;</td>
          <td style="text-align:left">{{capitalPopulation | number}}</td>
        </tr>
        <tr>
          <td style="text-align:right">Continent</td>
          <td style="text-align:center">&#58;</td>
          <td style="text-align:left">{{country.continentName}}</td>
        </tr>
    </table>


    <!--<div class="col-xs-6 text-right">
        <p>Population of Country : </p>
        <p>Area : </p>
        <p>Capital : </p>
        <p>Population of Capital : </p>
        <p>Continent : </p>
    </div>
    <div class="col-xs-6 text-left">
        <p>{{country.population | number}}</p>
        <p>{{country.areaInSqKm | number}} sq. km.</p>
        <p>{{country.capital}}</p>
        <p>{{capitalPopulation | number}}</p>
        <p>{{country.continentName}}</p>
    </div>-->
    <div class="col-xs-12">
        <h3>{{neighbors.length}} neighbors:</h3>
        <ul>
            <li ng-repeat="neighbor in neighbors"><a ng-href="#/countries/{{ neighbor.countryCode | uppercase }}">{{ neighbor.countryName }}</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <img ng-src="http://www.geonames.org/img/country/250/{{map}}.png" alt="">
        </div>
        <div class="col-sm-6 col-xs-12">
            <img class="flag" ng-src="http://www.geonames.org/flags/x/{{flag}}.gif" alt="">
        </div>
    </div>

    <div class="btn-group details-buttons">
        <a href="#/home" class="btn btn-lg btn-default">Return Home</a>
        <a href="#/countries" class="btn btn-lg btn-default">Browse Countries</a>
    </div>
</div>
