<div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Countries and Capitals App!</h2>
    <p>This web application will allow you to discover information about the countries of the world. You can browse the list of countries, or search by country name to filter the results. You'll be able to use the table to find interesting data on all 195
        countries, including geographic facts, population statistics, capital cities, and neighboring countries.</p>
    <p>Click the &quot;Browse Countries&quot; button below to get started.</p>
    <a href="#/countries" class="btn btn-lg btn-default">Browse Countries</a>
</div>
